.container_info {
    position: relative;
    min-height: 603px;
    width: 100%;
    padding: 5px 5px;
    background: white;
}


.container_about {
    border-top: 1px solid rgb(241, 239, 239);
    margin-top: 20px;
    word-break: break-word;
    max-width: 350px;
    font-weight: bolder;
    font-size: small;
    color: #636363;
}

.container_about .text {
    margin-top: 10px;
    font-weight: bolder;
    font-size: small;
    word-break: break-word;
}

.contacts div {
    color: #636363;
    word-break: break-word;
}


.container_info span {
    color: darkgray;
    font-weight: bolder;
    font-size: small;
}

.edit {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


.edit input {
    height: 25px;
    margin: 2px;
    border: none;
    border-bottom: 1px solid rgb(241, 239, 239);
    outline: none;
}

.edit .errorContact {
    border-bottom: 2px solid #ef7768;
}

.edit .noErrorContact {
    border-bottom: 1px solid rgb(241, 239, 239);
}

.edit input:focus {
    border-bottom: 1px solid #5982ee;
}


.edit textarea {
    background: rgb(236, 238, 238);
    border: none;
    border-bottom: 1px solid rgb(241, 239, 239);
    outline: none;
    width: 100%;
    min-height: 200px;
    resize: none;
}

.edit textarea:focus {
    border-bottom: 1px solid #5982ee;
}

.butt {
    position: absolute;
    right: 2px;
    top: 4px;
    width: 20px;
    cursor: pointer;
    z-index: 10;
}

.container_info .butt:hover {
    width: 21px;
}

.container_about_job {
    margin: 20px 0;
    font-weight: lighter;
}

.container_about_job div {
    height: 15px;
    display: flex;
    align-items: center;
}

.container_about_job .inputText {
    width: 100%;
}

.container_edit_fullName {
    width: 100%;
    background: rgb(236, 238, 238);
    padding: 2px;
}

.container_edit_fullName input {
    width: 99%;
}

.container_job {
    min-height: 30px;
    margin: 30px 0;
    border-top: 1px solid rgb(241, 239, 239);
    word-break: break-word;
}

@media (max-width: 1289px) {
    .container_info {
        border-radius: 0;
        border: none;
    }
}

@media (min-width: 1290px) {
    .container_info {
        border-radius: 10px;
        margin-top: 20px;
        border: 1px solid #b3b3b3;
    }
}

@media (max-width: 768px) {
    .container_about .text {
        margin-top: 10px;
        font-weight: bolder;
        font-size: 10px;
    }

    .contacts div {
        font-weight: bolder;
        font-size: 10px;
    }

}

@media (min-width: 769px) {
    .container_about .text {
        margin-top: 10px;
        font-weight: bolder;
        font-size: small;
    }

    .contacts div {
        font-weight: bolder;
        font-size: small;
    }
}

@media (max-width: 700px) {
    .container_info {
        position: absolute;
        top: 90px;
        right: 0;
        width: 60%;
    }

    .container_about {
        display: none;
    }

    .edit {
        position: fixed;
        z-index: 111;
        top: 132px;
        left: 0;
        height: auto;
        background: white;
        overflow: hidden;
        border: 1px solid #b3b3b3;
    }

    .edit input {
        z-index: 1111;
    }

    .edit textarea {
        display: none;
    }

    .inputText {
        z-index: 1111;
    }

}







