.container_info_and_avatar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container_posts_and_status {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.container_status_and_name {
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    border: 1px solid rgb(241, 239, 239);
}


.Profile {
    width: 100%;
    height: 100%;
    display: flex;
}


.container_avatar {
    background: white;
    width: 100%;
    border: 1px solid rgb(241, 239, 239);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_avatar {
    overflow: hidden;
    border: 1px solid rgb(241, 239, 239);
}

.wrapper_avatar img {
    height: 100%;
    width: 100%;
    display: flex;
}

#change_photo {
    display: none;
}

.input_camera div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    cursor: pointer;
    transition: .3s;
}

.input_camera div:hover {
    background: white;
    transition: .3s;
    opacity: 1;

}

.input_camera img {
    width: 80%;
    height: 80%;
}

.input_camera div:hover img {
    width: 90%;
    height: 90%;
}


.myPostsContainer {
    border: 1px solid rgb(241, 239, 239);
    overflow: hidden;
    background: rgb(236, 238, 238);
}

.wrapper_posts {
    overflow-y: scroll;
    height: 90%;
    padding-bottom: 10px;
    background: white;
}

.wrapper_posts::-webkit-scrollbar {
    width: 1px;
}

.wrapper_posts::-webkit-scrollbar-thumb {
    background: #5982ee;
}

.wrapper_text_butt {
    padding: 5px;
    height: 11%;
    background: white;

}

.wrapper_text_butt textarea {
    resize: none;
    outline: none;
    width: 100%;
    height: 50px;
    border: 2px solid white;
    background: rgb(236, 238, 238);
    padding: 1px 3px;
    border-radius: 5px;
}

.wrapper_text_butt textarea:focus {
    border: 2px solid #5982ee;
}

.wrapper_text_butt textarea:hover {
    background: rgb(230, 232, 232);
}


.wrapper_text_butt button {
    width: 100px;
    height: 25px;
    border: none;
    outline: none;
    background: #5982ee;
    transition: .3s;
    color: white;
    border-radius: 5px;
    font-size: 1.1vh;
}

.wrapper_text_butt button:hover {
    background: #3864e8;
    box-shadow: 5px 5px 5px -3px rgba(34, 60, 80, 0.6);
}

.wrapper_text_butt textarea::-webkit-scrollbar {
    width: 3px;
    background-color: white;
}

.wrapper_text_butt textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #dedede;
}


@media (max-width: 1438px) {
    .container_info_and_avatar {
        min-width: 300px;
    }

    .container_avatar {
        min-height: 350px;
    }

    .wrapper_avatar {
        max-width: 250px;
        max-height: 250px;
    }

    .container_posts_and_status {
        margin-left: 20px;
    }

}

@media (max-width: 1290px) {
    .container_posts_and_status {
        margin: 0;
        min-width: 450px;
    }

    .container_status_and_name {
        box-shadow: none;
        padding: 10px 20px;
    }
}

@media (max-width: 768px) {
    .container_info_and_avatar {
        min-width: 250px;
        max-width: 250px;
    }
    .wrapper_avatar {
        max-width: 200px;
        max-height: 200px;
        border-radius: 50%;
    }

    .container_avatar {
        min-height: 250px;
    }
    .input_camera div {
        position: absolute;
        bottom: 30px;
        right: 25px;
    }
    .user_name {
        font-size: 25px;
        color: #474747;
    }
    .container_status_and_name{
        height: 120px;
    }
}


@media (min-width: 1430px) {
    .container_avatar {
        min-height: 400px;
    }
    .container_info_and_avatar {
        min-width: 350px;
    }
}

@media (min-width: 1290px) {
    .container_status_and_name {
        padding: 10px;
        margin-bottom: 20px;
        box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    }

    .container_avatar {
        box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    }

    .myPostsContainer {
        box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    }

    .container_posts_and_status {
        margin-left: 20px;
    }
}

@media (min-width: 769px) {
    .input_camera div {
        position: absolute;
        bottom: 30px;
        right: 2px;
    }
    .user_name {
        font-size: xx-large;
        color: #474747;
    }
    .container_status_and_name{
        height: 200px;
    }
}



@media (max-width: 700px) {
    .container_status_and_name {
        max-width: 100%;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .container_avatar {
        margin-top: 99px;
        width: 50vmin;
        min-height: 210px;
    }
    .input_camera div {
        position: absolute;
        bottom: 1px;
        right: 1px;
    }

    .myPostsContainer {
        margin-top: 308px;
        width: 100vmin;
        padding-bottom: 55px;
        background: white;
    }

    .container_posts_and_status {
        position: absolute;
    }
    .wrapper_text_butt{
        height: 11vmax;
        margin-bottom: 15px;
    }

}



@media (max-width: 700px) {

}

.myPostsContainer {
    height: 100%;
}

















