
.container_info_and_avatar {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 350px;
}

.container_posts_and_status {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 50px;
}

.container_status_and_name {
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    border: 1px solid rgb(241, 239, 239);
    padding: 10px;

}

.user_name {
    font-size: xx-large;
    color: #474747;
}

.Profile {
    width: 100%;
    height: 100%;
    display: flex;
}

.container_avatar {
    background: white;
    min-height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    border: 1px solid rgb(241, 239, 239);
    position: relative;
}

.wrapper_avatar {
    height: 300px;
    width: 300px;
    overflow: hidden;
    border: 1px solid rgb(241, 239, 239);
}

.wrapper_avatar img {
    height: 100%;
    width: 100%;
    display: flex;
}

#change_photo {
    display: none;
}

.input_camera div {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    right: 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    cursor: pointer;
    transition: .3s;
}

.input_camera div:hover {
    background: white;
    transition: .3s;
    opacity: 1;

}

.input_camera img {
    width: 80%;
    height: 80%;
}

.input_camera div:hover img {
    width: 90%;
    height: 90%;
}


.myPostsContainer {
    height: 100%;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    border: 1px solid rgb(241, 239, 239);
    overflow: hidden;
    background: rgb(236, 238, 238);
}

.wrapper_posts {
    overflow-y: scroll;
    height: 90%;
    padding-bottom: 10px;
    background: white;
}

.wrapper_posts::-webkit-scrollbar {
    width: 1px;
}

.wrapper_posts::-webkit-scrollbar-thumb {
    background: #5982ee;
}

.wrapper_text_but {
    padding: 5px;
    height: 10%;
    background: white;
}

.wrapper_text_but textarea {
    resize: none;
    outline: none;
    width: 100%;
    height: 50px;
    border: 2px solid white;
    background: rgb(236, 238, 238);
    padding: 1px 3px;
    border-radius: 5px;
}

.wrapper_text_but textarea:focus {
    border: 2px solid #5982ee;
}

.wrapper_text_but textarea:hover {
    background: rgb(230, 232, 232);
}


.wrapper_text_but button {
    width: 100px;
    height: 25px;
    border: none;
    outline: none;
    background: #5982ee;
    transition: .3s;
    color: white;
    border-radius: 5px;
    font-size: 1.1vh;
}

.wrapper_text_but button:hover {
    background: #3864e8;
    box-shadow: 5px 5px 5px -3px rgba(34, 60, 80, 0.6);
}

.wrapper_text_but textarea::-webkit-scrollbar {
    width: 3px;
    background-color: white;
}

.wrapper_text_but textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #dedede;
}


