.container_button_user {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.butt_disabled, .butt_disabled a, .butt_follow_or_message, .butt_follow_or_message a,.butt_unfollow {
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 25px;
    color: white;
    border: none;
    outline: none;
    transition: .3s;
    cursor: pointer;
    user-select: none;
    border-radius: 3px;
}

.butt_disabled a{
    width: 100%;
    height: 100%;
    background: white;
    border: 1px solid #d7d7d7;
    color: #d7d7d7;
}

.butt_disabled{
    position: relative;
}

.butt_disabled::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.butt_follow_or_message{
    background: white;
    border: 1px solid #5982ee;
    color: #5982ee;
}
.butt_follow_or_message a{
    color: #5982ee;
    width: 100%;
    height: 100%;
}

.butt_follow_or_message:hover, .butt_follow_or_message a:hover{
    background: #5982ee;
    color: white;
}

.butt_unfollow {
    background: white;
    border: 1px solid tomato;
    color: tomato;
}

.butt_unfollow:hover {
    background: #f3492f;
    color: white;
}

@media (max-width: 550px) {
    .butt_disabled, .butt_follow_or_message, .butt_unfollow{
        font-size:  11px;
        width: 70px;
        height: 22px;
    }
}

@media (min-width: 551px) {
    .butt_disabled, .butt_follow_or_message, .butt_unfollow{
        font-size:  15px;
    }
    button {
        width: 100%;
        height: 25px;
    }
}

@media (max-width: 780px) {
    .butt_disabled, .butt_follow_or_message, .butt_unfollow{
        font-size:  12px;
    }
}

@media (min-width: 781px) {
    .butt_disabled, .butt_follow_or_message, .butt_unfollow{
        font-size:  15px;
    }
}

@media (max-width: 415px) {
    .butt_disabled, .butt_follow_or_message, .butt_unfollow{
        font-size:  12px;
        width: 60px;
    }
}

