.window_error_contact {
    width: 300px;
    padding: 25px;
    height: 50px;
    background: #ef7768;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 5px -5px rgba(34, 60, 80, 0.6);
    z-index: 9999;
    position: relative;
}

.closeWindow {
    font-weight: normal;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: .5;
}

.closeWindow:hover {
    opacity: 1;
}

.wrapper_error{
    position: fixed;
    bottom: 10%;
    left: 0;
    right: 0;
    z-index: 3333333333333;
    display: flex;
    justify-content: center;
}



