
.typing_container {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 10px;
}

.typing_container span {
    font-size: 15px;
    font-style: italic;
    color: #747474;
    padding: 0 0 3px 5px;
    user-select: none;
    z-index: 100;
}


.typing__dot {
    width: 6px;
    height: 6px;
    margin: 0 2px;
    background:  #747474;
    border-radius: 50%;
    opacity: 0;
    animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
    animation-delay: 0s;
}

.typing__dot:nth-child(2) {
    animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loadingFade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}