.post {
    border-bottom: 1px solid rgb(241, 239, 239);
    width: 100%;
    min-height: 70px;
    word-break: break-all;
    display: flex;
    background: white;
    position: relative;
    padding-top: 10px;
}

.post .avatar {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(241, 239, 239);
    border-radius: 50%;
    margin: 5px;
}

.wrapper_message_like {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post_message {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #474747;
    padding: 0 25px 0 10px;
}

.wrapper_post_like {
    display: flex;
    flex-direction: row-reverse;
}


.like, .dislike {
    display: flex;
    justify-content: center;
    width: 55px;
    color: #acabab;
    font-size: 15px;
    user-select: none;
    height: 20px;
    padding-right: 2px;
    border-bottom: 1px solid #acabab;
}

.like {
    border-bottom: 1px solid #3498DB;
    color: #3498DB;
}

.like span, .dislike span {
    cursor: pointer;
    user-select: none;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.like img, .dislike img {
    width: 17px;
    height: 16px;
    padding-right: 2px;
}


.delete_post {
    position: absolute;
    right: 2px;
    top: 0;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: start;
    flex-direction: column-reverse;
    color: #d9d7d7;
    font-size: 13px;
}

.delete_post:hover{
    color: red;
}



@media (max-width: 950px) {
    .post_message {
        font-weight: bolder;
        font-size: 13px;
    }
}

@media (max-width: 800px) {
    .post_message {
        font-weight: bolder;
        font-size: 11px;
    }
}


@media (min-width: 950px) {
    .post_message {
        font-weight: bolder;
        font-size: inherit;
    }
}

