.news_page {
    background: white;
    width: 100%;
    overflow: auto;
    padding: 10px;
    border: 1px solid #b3b3b3;
}


.news_page::-webkit-scrollbar {
    width: 5px;
}

.news_page::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #5982ee;
}

.news_page::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #f9f9fd;
    margin-top: 3px;
}

.wrapper_link_news {
    border-bottom: 1px solid rgb(241, 239, 239);
    display: grid;
    padding: 5px;
    transition: .2s;
    text-decoration: none;
}

.wrapper_link_news:hover {
    background: rgb(241, 239, 239);
    transition: .2s;
}

.wrapper_link_news .title_news {
    color: black;
}

.wrapper_content {
    padding: 0 20px;
    color: gray;
}

.wrapper_photo {
    overflow: hidden;
}


@media (max-width: 1289px) {
    .news_page {
        border-radius: 0;
    }
}
@media (min-width: 1290px) {
    .news_page {
        border-radius: 10px 10px 0 0;
    }
}


@media (max-width: 768px) {
    .wrapper_link_news img {
        max-height: 200px;
        width: 100%;
    }

    .wrapper_content {
        padding: 0;
        font-size: 10px;
        margin: 0;
    }

    .wrapper_link_news .title_news {
        font-size: 10px;
        min-width: 120px;
        margin: 0;
    }

    .wrapper_link_news {
        margin-bottom: 2px;
    }
}

@media (min-width: 769px) {
    .wrapper_link_news img {
        height: 100%;
    }

    .wrapper_content {
        padding: 0 20px;
    }

    .wrapper_link_news {
        grid-template-columns: 0.7fr 2fr 1fr;
        height: 250px;
        margin-bottom: 20px;
    }
}

@media (max-width: 650px) {
    .wrapper_link_news img {
        max-height: 100px;
        width: 100px;
    }

}


@media (max-width: 650px) {
    .wrapper_link_news img {
        min-height: 350px;
        min-width: 100%;
        margin-top: 10px;

    }

    .wrapper_link_news .title_news {
        font-size: 13px;
        width: 100%;
        margin-top: 10px;
    }

    .wrapper_link_news {
        min-height: 270px;
        margin-bottom: 2px;
    }
}
@media (max-width: 450px) {
    .wrapper_link_news img {
        min-height: 200px;
    }
}

@media (min-width: 650px) {
    .wrapper_link_news img {
        height: 100%;
    }

    .wrapper_content {
        padding: 0 20px;
    }

    .wrapper_link_news {
        grid-template-columns: 0.7fr 2fr 1fr;
        height: 250px;
        margin-bottom: 20px;
    }
}